{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container" style="margin-top: 70px;">

    <div class="card mb-4">
        <div class="card-body text-center">
            <h1 class="pt-5">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="pb-3">
                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            </p>

            {% url 'account_reset_password' as reset_url %}

            <form class="password-reset" id="password_reset_form" method="post" action="{{ reset_url }}" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">{% trans "Reset My Password" %} &raquo;</button>
            </form>
        </div>
    </div>

  
    <div class="card">
        <div class="card-body text-center">
            <h2 class="pt-5 pb-3">Need Help?</h2>
            <p class="pb-4">{% trans "Please contact us at 2549168a@student.gla.ac.uk if you have any trouble resetting your password. We're here to help make sure you can access your account securely and easily." %}</p>
        </div>
    </div>

</div>
{% endblock content %}
