{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "test.css" %}">



   <!--  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap css & js -->
    <script src="https://kit.fontawesome.com/yourkitcode.js"></script>
    <script src="https://kit.fontawesome.com/3b268882eb.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Agile Teams | {% block title %} {% endblock title %}</title>
</head>

<body>
   {% include 'navbar.html' %}
    <section class="bg-dark">
        <div class="pt-big">
        {% block content %}
        {% endblock content %}
        </div>
    </section>

    {% include "footer.html" %}
    
    <!-- Within these blocks, you will write HTML code for every file that will extend base.html -->
    
 
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
