{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="pt-5 pb-5 text-center">To Do - Edit Task</h3>
                <form action="{% url 'edit_task' get_task.pk %}" method="POST" style="max-width: 500px; margin: auto;">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="task" class="form-control" placeholder="Edit task" value="{{ get_task.task }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
