{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated  %}
    <div class="container" style="margin-top: 70px; ">

      <div class="container">
        <div class="card">
            <div class="card-body">
<p> The learning areas on our platform offer users a dedicated space featuring articles primarily focused on backend development, frontend technologies, general learning, and a specialized section tailored for interns. Each of these articles undergoes approval by the administration, ensuring a high level of knowledge for users. We strongly recommend taking the time to peruse these articles during moments of spare time between tasks. This practice serves as a valuable resource for users to deepen their understanding in their respective areas of specialization or broaden their knowledge into new fields. </p>
<p> Feel free to explore these curated resources and enhance your expertise. If you have any questions or need further assistance, don't hesitate to reach out at 2549168a@student.gla.ac.uk Your growth and development are important to us.</p>
            </div>
        </div>
    </div>
      

        <!-- Featured Posts -->
        <h3 class="text-uppercase text-warning" style="letter-spacing: 2px; margin-top: 30px;">Learning Blogs</h3>

        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <div class="card-deck">
                    {% for category in categories %}
                        <a href="{% url 'posts_by_category' category.id %}" class="card text-white bg-warning mb-2">
                            <div class="card-body d-flex justify-content-center align-items-center" style="height: 100px;">
                                <span class="card-text">{{ category.category_name }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mb-2">
            {% for blog_post in posts %}
                <div class="col-md-6">
                    <div class="card border-0 mb-4">
                        <div class="card-body">
                            <h3><a href="{% url 'blogs' blog_post.slug %}" class="text-dark">{{ blog_post.title }}</a></h3>
                            <small class="mb-1 text-muted">{{ blog_post.created_at | timesince }} ago | {{ blog_post.author }}</small>
                            <p class="card-text">{{ blog_post.short_description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        

    </div>
    {% else %}
    <div class = "text-white text-center h3" style="margin-top: 70px;"> Please log in! </div>
    {% endif %}
{% endblock %}
