{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}

<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-body">
            <p>Welcome to the Quiz Area, where you can engage with various quizzes to assess your knowledge. Begin by selecting a category that interests you and start the quiz to evaluate your performance. 

                Below, you will find a table displaying your statistics, including the number of attempts you've made and the highest grade you've achieved. Additionally, the table will highlight quizzes you haven't yet attempted, encouraging you to try and achieve the highest grade possible. Please note that these quizzes often correlate with topics covered in our learning blog articles, providing a practical application of the knowledge you've gained.</p>
                <p>If you have any questions or require further clarification on the available features, or if you happen to identify any issues that warrant attention, we invite you to connect with the owners. Your input is valuable to us, and we encourage you to share your insights and suggestions for potential improvements. Please don't hesitate to contact the owners at <a href="mailto:2549168@student.gla.ac.uk">2549168@student.gla.ac.uk</a>, and we will be more than happy to address any inquiries or feedback you may have.</p>

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h3 class="text-center">Select Testing Quiz Category</h3>

            <div class="row mt-3">
                <div class="col-md-6 col-lg-6 mx-auto">
                    <form id="quizForm" action="{% url 'quiz:quiz' %}" method='get'>
                        {% csrf_token %}
                        <div class="input-group">
                            <select name="category" id="categorySelect" class="form-control">
                                <option value="">Choose</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <button type='submit' class="btn btn-primary"><i class="fa fa-arrow-right"></i> Start Quiz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h3 class="text-center">Your Quiz Performance</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Quiz Name</th>
                        <th class="text-center">Description/Guidance</th>
                        <th class="text-center">Score in % out of 100</th>
                        <th class="text-center">Number of Attempts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes_with_attempts %}
                    <tr>
                        <td class="text-center">{{ quiz.category_name }}</td>
                        <td class="text-center">{{ quiz.description }}</td> 
                        <td class="text-center">{{ quiz.score }}</td>
                        <td class="text-center">{{ quiz.num_attempts }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No quizzes taken yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

</div>

<div class="card" style="margin-top: 70px;">
</div>
<script>
    document.getElementById('quizForm').addEventListener('submit', function(event) {
        var categorySelect = document.getElementById('categorySelect');
        if (categorySelect.value === '') {
            event.preventDefault(); 
            alert('Please select a category to start the quiz.');
        }
    });
</script>

{% else %}
<div class="text-center h3" style="margin-top: 70px;">Please log in to access the quiz.</div>
{% endif %}
{% endblock %}


