{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}

<div id="app" class="container mt-5 pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card" v-if="!quizSubmitted">
            <div class="card-body">
                <h3 class="card-title text-center">{{ quiz_title }}</h3>
                <form @submit.prevent="submitQuiz">
                    
                    <div v-for="question in questions" :key="question.uid" class="mt-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">[[question.question]]</p>
                                <p class="points">This question worth [[question.marks]] points</p>
                                
                                <div class="form-check" v-for="(answer, index) in question.answers" :key="index">
                                    <input
                                        v-model="userAnswers[question.uid]"
                                        :value="answer.answer"
                                        class="form-check-input"
                                        :id="'answer-' + question.uid + '-' + index"
                                        :name="'question-' + question.uid"
                                        type="radio">
                                    <label class="form-check-label" :for="'answer-' + question.uid + '-' + index">
                                        [[answer.answer]]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primary">Submit Quiz</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class='' style="margin-top: 30px;">
        </div>

<div v-if="quizSubmitted" class="container mt-5 pt-5">
    <div class="col-lg-12 mx-auto"> 
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Quiz Results</h3>
                <div v-for="(answer, questionUid) in userAnswers" :key="questionUid" class="mb-3"> 
                    <p class="mb-1">Question: [[questionsMap[questionUid].question]]</p> 
                    <p class="mb-1">Your Answer: [[answer]]</p> 
                    <p v-if="answer === questionsMap[questionUid].correct_answer" class="text-success">Correct</p>
                    <p v-else class="text-danger">Incorrect</p>
                </div>
                <h4 class="text-center">You scored [[obtainedMarks]] out of [[totalMarks]]</h4> 
                <h4 class="text-center">That's [[(obtainedMarks / totalMarks * 100).toFixed(2)]]%</h4> 
                <div class="mt-4 text-center">
                    <a href="{% url 'quiz:quiz_home' %}" class="btn btn-primary btn-lg">Go back to Quiz area</a> 
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="card" style="margin-top: 30px;">
    </div>
</div>

<script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.prod.js"></script>
<script>
    Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                category: '{{ category }}',
                questions: [],
                userAnswers: {},
                quizSubmitted: false,
                questionsMap: {},
                totalMarks: 0,
                obtainedMarks: 0
            };
        },
        methods: {
            getQuestions() {
                fetch(`/quiz/api/get-quiz/?category=${this.category}`)
                    .then(response => response.json())
                    .then(result => {
                        this.questions = result.data;
                        this.totalMarks = this.questions.reduce((sum, question) => sum + question.marks, 0);
                        this.questionsMap = this.questions.reduce((map, question) => {
                            map[question.uid] = question;
                            return map;
                        }, {});
                    })
                    .catch(error => {
                        console.error('Error fetching questions:', error);
                    });
            },
            submitQuiz() {
                if (this.areAllQuestionsAnswered()) {
                    this.quizSubmitted = true;
                    this.calculateScore();
                    this.sendScoreToServer();
                } else {
                    alert('Please answer all questions before submitting the quiz.');
                }
            },
            sendScoreToServer() {
                const percentageScore = (this.obtainedMarks / this.totalMarks) * 100;
                const payload = {
                    quiz_id: this.category, 
                    score: percentageScore.toFixed(2),
                };
                fetch('/quiz/submit_score/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(payload),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Score submitted successfully');
                })
                .catch(error => {
                    console.error('Error submitting score:', error);
                });
            },
            
            areAllQuestionsAnswered() {
                return this.questions.every(question => 
                    this.userAnswers.hasOwnProperty(question.uid));
            },
            calculateScore() {
                this.obtainedMarks = this.questions.reduce((sum, question) => {
                    if (this.userAnswers[question.uid] === question.correct_answer) {
                        return sum + question.marks;
                    }
                    return sum;
                }, 0);
            }
        },
        created() {
            this.getQuestions();
        }
    }).mount('#app');
</script>


{% else %}
<div class="text-center h3" style="margin-top: 70px;">Please log in to access the quiz.</div>
{% endif %}
{% endblock %}
