{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 70px;">

    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="pt-5 pb-3">Social Page Not Found</h2>
            <p class="pb-4">Sorry, but the social page you are looking for does not exist yet! We are constantly working to expand our platform and we might add more social features in the future.</p>
            <div class="pt-2">
                <a href="{% url 'help' %}" class="btn btn-primary">Go to help page</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-center">
            <h2 class="pt-5 pb-3">Stay Connected</h2>
            <p class="pb-4">We value your interest in our social features. While the specific page you're looking for isn't available, we encourage you to explore other areas of our website. Stay tuned for updates and new features as we grow. Your engagement and feedback are crucial to our continuous improvement. If you have any question please email at: <a href="mailto:2549168@student.gla.ac.uk"> 2549168a@student.gla.ac.uk</a></p>
            
        </div>
    </div>

</div>
{% endblock %}
