
{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated  %}

<div class="container">
    <div class="card" style="margin-top: 70px;">
        <div class="card-body">
            
<p>Beneath, you'll find a team to-do list accessible to all members, showcasing the collective tasks. Initially, a table presents tasks specifically assigned to you, prioritized by their level of importance. Following this is a section displaying all team tasks, organized by their current status: pending, underway, or completed. Additionally, there's a form available for adding new tasks to the to-do list.</p>

    <p>Each task is detailed with the following information: the creator of the task, whether it's assigned to a specific individual (unassigned tasks are up for grabs, and team members can edit and assign these tasks to themselves), the deadline (though setting one is optional), the urgency of the task, and its proximity to the deadline. This setup aids new team members by clearly indicating who is working on what, which tasks are still available, and which tasks they might consider taking on.</p>

    <p>If you have any questions or require further clarification on the available features, or if you happen to identify any issues that warrant attention, we invite you to connect with the owners. Your input is valuable to us, and we encourage you to share your insights and suggestions for potential improvements. Please don't hesitate to contact the owners at <a href="mailto:2549168@student.gla.ac.uk">2549168@student.gla.ac.uk</a>, and we will be more than happy to address any inquiries or feedback you may have.</p>

</div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h3 class="text-center">Tasks Assigned to Me</h3>
            <p class="text-center">Total Expected Time: <strong>{{ total_expected_time }} minutes</strong></p>

            <div class="row">
                <!-- Low Urgency Tasks -->
                <div class="col-md-4 text-center">
                    <h4>Low Urgency</h4>
                    <div class="overflow-auto" style="max-height: 450px;">
                        {% for task in assigned_tasks %}
                            {% if task.urgency == 'L' %}
                                <div class="card mb-1">
                                    <div class="card-body text-center">
                                        {{ task.task }}
                                        <div class="mt-2">
                                            <small>Created by: {{ task.created_by.username }}</small>
                                            <div><small>Description: {{ task.description }}</small></div>
                                            <div><small>Expected Time: {{ task.expected_time }} minutes</small></div>

                                            <div><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></div>
                                            {% if task.deadline and task.deadline < today %}
                                                <span class="text-danger">(Past Deadline)</span>
                                            {% elif task.deadline and task.deadline <= five_days_later %}
                                                <span class="text-warning">(Incoming Deadline)</span>
                                            {% endif %}
                                            <br><small>Urgency: Low</small></br>
                                        </div>
                                        <div class="mt-2">
                                            <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                                            {% if task.status == 'TD' %}
                                                <a href="{% url 'mark_as_in_progress' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-forward"></i> In Progress</a>
                                            {% elif task.status == 'IP' %}
                                                <a href="{% url 'mark_as_done_from_in_progress' task.pk %}" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Done</a>
                                            {% elif task.status == 'DN' %}
                                                <a href="{% url 'mark_as_undone' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-undo"></i> Undo</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                            <p>No low urgency tasks assigned to you.</p>
                        {% endfor %}
                    </div>
                </div>
    
                <!-- Medium Urgency Tasks -->
                <div class="col-md-4 text-center">
                    <h4>Medium Urgency</h4>
                    <div class="overflow-auto" style="max-height: 450px;">
                        {% for task in assigned_tasks %}
                            {% if task.urgency == 'M' %}
                                <div class="card mb-1">
                                    <div class="card-body text-center">
                                        {{ task.task }}
                                        <div class="mt-2">
                                            <small>Created by: {{ task.created_by.username }}</small>
                                            <div><small>Description: {{ task.description }}</small></div>
<div><small>Expected Time: {{ task.expected_time }} minutes</small></div>

                                            <div><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></div>
                                            {% if task.deadline and task.deadline < today %}
                                                <span class="text-danger">(Past Deadline)</span>
                                            {% elif task.deadline and task.deadline <= five_days_later %}
                                                <span class="text-warning">(Incoming Deadline)</span>
                                            {% endif %}
                                            <br><small>Urgency: Medium</small></br>
                                        </div>
                                        <div class="mt-2">
                                            <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                                            {% if task.status == 'TD' %}
                                                <a href="{% url 'mark_as_in_progress' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-forward"></i> In Progress</a>
                                            {% elif task.status == 'IP' %}
                                                <a href="{% url 'mark_as_done_from_in_progress' task.pk %}" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Done</a>
                                            {% elif task.status == 'DN' %}
                                                <a href="{% url 'mark_as_undone' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-undo"></i> Undo</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                            <p>No medium urgency tasks assigned to you.</p>
                        {% endfor %}
                    </div>
                </div>
    
                <!-- High Urgency Tasks -->
                <div class="col-md-4 text-center">
                    <h4>High Urgency</h4>
                    <div class="overflow-auto" style="max-height: 450px;">
                        {% for task in assigned_tasks %}
                            {% if task.urgency == 'H' %}
                                <div class="card mb-1">
                                    <div class="card-body text-center">
                                        {{ task.task }}
                                        <div class="mt-2">
                                            <small>Created by: {{ task.created_by.username }}</small>
                                            <div><small>Description: {{ task.description }}</small></div>
<div><small>Expected Time: {{ task.expected_time }} minutes</small></div>

                                            <div><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></div>
                                            {% if task.deadline and task.deadline < today %}
                                                <span class="text-danger">(Past Deadline)</span>
                                            {% elif task.deadline and task.deadline <= five_days_later %}
                                                <span class="text-warning">(Incoming Deadline)</span>
                                            {% endif %}
                                            <br><small>Urgency: High</small></br>
                                        </div>
                                        <div class="mt-2">
                                            <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                                            <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                                            {% if task.status == 'TD' %}
                                                <a href="{% url 'mark_as_in_progress' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-forward"></i> In Progress</a>
                                            {% elif task.status == 'IP' %}
                                                <a href="{% url 'mark_as_done_from_in_progress' task.pk %}" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Done</a>
                                            {% elif task.status == 'DN' %}
                                                <a href="{% url 'mark_as_undone' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-undo"></i> Undo</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                            <p>No high urgency tasks assigned to you.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="card mt-4 text-center">
        <div class="card-body">
            <h3 class="text-center">ToDo Section</h3>
            <div class="row">
               <!-- Tasks to be done -->
<div class="col-md-4">
    <h4>Tasks to be done</h4>
    <div class="overflow-auto" style="max-height: 450px;">
        {% for task in tasks %}
            {% if task.status == 'TD' %}  
                <div class="card mb-1">
                    <div class="card-body">
                        {{ task.task }}
                        <div class="mt-2">
                            <small>Created by: {{ task.created_by.username }}</small>
                            <div><small>Description: {{ task.description }}</small></div>
                            <div><small>Expected Time: {{ task.expected_time }} minutes</small></div>

                            {% if task.assigned_to %}
                                <br><small>Assigned to: {{ task.assigned_to.username }}</small>
                                <br><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></br>
                                <br><small>Urgency: {{ task.get_urgency_display }}</small></br>
                            {% else %}
                                <br><small>Assigned to: Not assigned</small>
                                <br><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></br>
                                <br><small>Urgency: {{ task.get_urgency_display }}</small></br>
                            {% endif %}
                        </div>
                        <span style="display: block; text-align: center;">
                            <a href="{% url 'mark_as_in_progress' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-forward"></i> In Progress</a>
                            <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </span>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p>No tasks to be done.</p>
        {% endfor %}
    </div>
</div>

                <!-- In Progress Tasks -->
                <div class="col-md-4">
                    <h4>In Progress</h4>
                    <div class="overflow-auto" style="max-height: 450px;">
                        {% for task in in_progress_tasks %}
                        <div class="card mb-1">
                            <div class="card-body">
                                {{ task.task }}
                                <div class="mt-2">
                                <small>Moved to In Progress by: {{ task.in_progress_by.username }}</small>
                                <div><small>Description: {{ task.description }}</small></div>
<div><small>Expected Time: {{ task.expected_time }} minutes</small></div>

                                {% if task.assigned_to %}
                        <br><small>Assigned to: {{ task.assigned_to.username }}</small>
                        <br><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></br>
                        <br><small>Urgency: {{ task.get_urgency_display }}</small></br>
                    {% else %}
                        <br><small>Assigned to: Not assigned</small>
                            <br><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></br>
                            <br><small>Urgency: {{ task.get_urgency_display }}</small></br>
                    {% endif %}
                                </div>
                                <span style="display: block; text-align: center;">
                                    <a href="{% url 'mark_as_done_from_in_progress' task.pk %}" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Done</a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Completed Tasks -->
                <div class="col-md-4">
                    <h4>Completed Tasks</h4>
                    <div class="overflow-auto" style="max-height: 450px;">
                        {% for task in completed_tasks %}
                        <div class="card mb-1">
                            <div class="card-body">
                                {{ task.task }}
                                <div class="mt-2">
                                <small>Marked as Done by: {{ task.done_by.username }}</small>
                                <div><small>Description: {{ task.description }}</small></div>
<div><small>Expected Time: {{ task.expected_time }} minutes</small></div>

                                {% if task.assigned_to %}
                        <br><small>Assigned to: {{ task.assigned_to.username }}</small>
                        <br><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></br>
                        <br><small>Urgency: {{ task.get_urgency_display }}</small></br>
                    {% else %}
                        <br><small>Assigned to: Not assigned</small>
                        <br><small>Deadline: {{ task.deadline|date:"Y-m-d" }}</small></br>
                        <br><small>Urgency: {{ task.get_urgency_display }}</small></br>
                    {% endif %}
                                </div>
                                <span style="display: block; text-align: center;">
                                    <a href="{% url 'mark_as_undone' task.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-undo"></i> Undo</a>
                                    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

       

        </div>
    </div>



    <div class="container mt-4"> 
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Add New Task</h3>
                <div class="row">
                    <div class="col-md-6 col-lg-6 mx-auto">
                        <form action="{% url 'addTask' %}" method='POST'>
                            {% csrf_token %}
                            
                            <div class="input-group mb-3">
                                
                                <input type="text" name='task' class="form-control" placeholder="Add a task">
                            </div>
                            <div class="mb-3">
                                <select name="assigned_to" class="form-control">
                                    <option value="">Assign to...</option>
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <p>Deadline</p>
                            <div class="mb-3">
                                <input type="date" name="deadline" class="form-control" placeholder="Deadline">
                            </div>
                            <p>Urgency</p>
                            <div class="mb-3">
                                <select name="urgency" class="form-control">
                                    <option value="L">Low</option>
                                    <option value="M">Medium</option>
                                    <option value="H">High</option>
                                </select>
                            </div>
                            <p>Details</p>
                            <div class="mb-3">
                                <textarea name="description" class="form-control" placeholder="Task description"></textarea>
                            </div>
                        
                            <div class="mb-3">
                                <input type="number" name="expected_time" class="form-control" placeholder="Expected time in minutes">
                            </div>

                            <button type='submit' class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="card" style="margin-top: 70px;">
</div>
{% else %}
<div class="text-center h3" style="margin-top: 70px;">Please log in to view the ToDo list.</div>
{% endif %}
{% endblock %}
