{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated  %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="pt-5 text-center">ToDo Section</h3>
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <h4>Tasks to be done</h4>
                        <p class="text-muted">{% now "jS F Y" %}</p>
                        <div class="overflow-auto" style="max-height: 450px;">
                            <!-- List of all the tasks for the day -->
                            {% for task in tasks %}
                            <div class="card mb-1">
                                <div class="card-body">
                                    {{task.task}} 
                                    <span class="float-right">
                                        <a href="{% url 'mark_as_done' task.pk %}" class="btn btn-success"><i class="fa fa-check"></i> Mark as Done</a>
                                        <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                        <a href="{% url 'edit_task' task.pk %}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Add more tasks here -->
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <h5>Completed Tasks</h5>
                        <!-- List of all the tasks that have completed -->
                        {% for task in completed_tasks %}
                        <div class="card mb-1">
                            <div class="card-body">
                                {{task.task}}
                                <span style="position: relative; float: right;">
                                    <a href="{% url 'mark_as_undone' task.pk %}" class="btn btn-danger"><i class="fa fa-times"></i> Mark as Undone</a>
                                    <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Add more completed tasks here -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 mx-auto mt-3">
                        <!-- To Do Form -->
                        <form action="{% url 'addTask' %}" method='POST'>
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name='task' class="form-control" placeholder="Add a task">
                                <div class="input-group-append">
                                    <button type='submit' class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class = "text-white text-center h3" style="margin-top: 70px;"> Please log in! </div>
    {% endif %}
{% endblock %}
